@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    outline: 0;
    box-sizing: border-box;
}

.menu-horizontal {
    max-width: 100%;
    background-color: #09a057;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-horizontal ul {
    text-align: center;
    max-width: 100%;
    min-width: 500px;
    flex-direction: row;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #09a057;
}

.menu-horizontal ul li {
    display: inline-block;
}

.menu-horizontal li a {
    color: white;
    text-decoration: none;
    display: inline;
    padding: 10px;
    display: inline-block;
}

.menu-horizontal ul li a:hover {
    color: black;
    background-color: white;
    display: inline;
    padding: 10px;
    display: inline-block;
    transition: background .4s;
}

#apoio {
    text-align: center;
}

#apoio #conteudo-apoio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

#apoio #conteudo-apoio img {
    width: 15%;
    margin-left: 5%;
}

.imagem-sequencia {
    margin: 0 auto;
    width: 100%;
    height: 429px;
    overflow: hidden;
}

.slides-sequencia {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides-sequencia input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    height: 13px;
    margin-top: -2px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.primeiro {
    margin-left: 0;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

#radio4:checked~.primeiro {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: inline-block;
}

.navigation-auto {
    position: absolute;
    width: 100%; 
    margin-top: 398px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;

}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;

}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;

}

footer {
    text-align: center;
    padding: 2%;
}