@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    outline: 0;
    box-sizing: border-box;
}

.menu-horizontal {
    max-width: 100%;
    background-color: #075e54;
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu-horizontal .img-nome {
    display: flex;
    align-items: center;
    color: #ffff;
    margin-right: 15.5%;
}

.menu-horizontal .img-nome h2 {
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-horizontal .img-nome img {
    width: 50px;
    padding: 5px;
    margin-right: 10%;
}

.menu-horizontal ul {
    text-align: center;
    max-width: 100%;
    min-width: 500px;
    margin-right: 5%;
    flex-direction: row;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #075e54;
}

.menu-horizontal ul li {
    display: inline-block;
}

.menu-horizontal li a {
    color: white;
    text-decoration: none;
    display: inline;
    padding: 10px;
    display: inline-block;
}

.menu-horizontal ul li a:hover {
    color: black;
    background-color: white;
    display: inline;
    padding: 10px;
    display: inline-block;
    transition: background .4s;
}

#apoio {
    text-align: center;
}

#apoio #conteudo-apoio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

#apoio #conteudo-apoio img {
    width: 15%;
    margin-left: 5%;
}

.imagem-sequencia {
    margin: 0 auto;
    width: 100%;
    height: 440px;
    overflow: hidden;
}

.slides-sequencia {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides-sequencia input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    height: 13px;
    margin-top: -2px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.primeiro {
    margin-left: 0;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

#radio4:checked~.primeiro {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: inline-block;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 398px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;

}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;

}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;

}

/* @media screen and (max-width: 480px) {
    .navigation-auto {
        position: absolute;
        width: 100%;
        margin-top: 400px;
        display: flex;
        justify-content: center;
    }
} */

.Textos-conteudo {
    display: flex;
    flex-direction: column;
}

.Textos-conteudo #sobre-projeto {
    display: flex;
    width: auto;
    flex-direction: column;
    color: black;
    background-color: #E6E6E6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: start;
    justify-content: center;
    padding: 5%;
}

.Textos-conteudo #sobre-projeto p {
    width: 100%;
    text-align: justify;
    padding: 30px;
}

.Textos-conteudo #objetivo {
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: #25D366;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: end;
    justify-content: center;
    padding: 5%;
}

.Textos-conteudo #objetivo p {
    width: 50%;
    text-align: justify;
    padding: 30px;
}

.Textos-conteudo #Materiais-métodos {
    display: flex;
    width: auto;
    flex-direction: column;
    background-color:#999999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: start;
    justify-content: center;
    padding: 5%;
}

.Textos-conteudo #Materiais-métodos p{
    width: 50%;
    text-align: justify;
    padding: 30px;
}

.Textos-conteudo #Local-de-execução-público-alvo{
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: #3d965e;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: end;
    justify-content: center;
    padding: 5%;
}

.Textos-conteudo #Local-de-execução-público-alvo p{
    width: 50%;
    text-align: justify;
    padding: 30px;
}

.Textos-conteudo #Resultados-esperados{
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: #b7b7b7bf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: start;
    justify-content: center;
    padding: 5%;
}

.Textos-conteudo #Resultados-esperados p{
    width: 50%;
    text-align: justify;
    padding: 30px;
}

footer {
    text-align: center;
    padding: 2%;
}